OPENAI_API_KEY=your_openai_api_key_here
GROQ_API_KEY=your_groq_api_key_here
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_api_key_here
LANGCHAIN_PROJECT="Retail-Agent-App"
PINECONE_API_KEY=your_pinecone_api_key_here
FIREBASE_CREDENTIALS_PATH=./firebase-key.json
